.card-LinkTo:hover{
    text-decoration: none;
}
.card-LinkTo:hover{
    text-decoration-color: currentColor;
}


.card-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.img-container{
    width: 300px;
    height: 220px;
}
.img-container img{
    margin: 0;
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card-buttons{
    padding: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-evenly;
}

.card-buttons .fa-edit{
    color: rgba(73, 63, 255, 0.4);
}

.card-buttons .fa-trash-alt{
    color: rgba(255, 0, 0, 0.5);
}

.card-buttons .fa-edit:hover{
    color: rgba(73, 63, 255, 0.9);
}

.card-buttons .fa-trash-alt:hover{
    color: rgba(255, 0, 0, 0.9 );
}

.card-info-container{
    padding: 1rem;
    width: 100%;
}
.card-title{
    color: black;
    font-weight: 600;
}

.card-small-container{
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.card-infos{
    font-size: 0.8rem;
}


.postsPage-container{
    display: flex;
    align-items: flex-start;
    margin-top: 5rem;
}

.posts-container{
    flex-grow: 1;
}

.filters-container{
    flex-grow: 0;
    flex-basis: 300px;
    min-width: max-content;
    padding: 1rem;
    margin: 0 2rem;
    background-color: whitesmoke;
}

.filters-container label{
    padding-left: 10px;
}

.filters-container .flx-space-between{
    display: flex;
    justify-content: space-between;
}

.filters-container .div-select{
    display: flex;
}

.filters-container select{
    appearance: none;
    border: none;
    padding: 5px;
    margin: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    text-align-last:center; 
}

.filters-container select:focus{
    outline: none;
}



